---
layout: page
title: Wedding Gallery
---

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/assets/images/bg_story.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="fh5co-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Wedding Gallery</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include_relative _content/gallery.html %}

{% include_relative _content/rsvp.html %}
