---
layout: page
---

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/bg_home.jpg);background-position:top center;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>{{ site.partner1 }} &amp; {{ site.partner2 }}</h1>
                        <h2>We Are Getting Married</h2>
                        <div class="simply-countdown simply-countdown-one"></div>
                        <p><a href="kristina_immo_wedding.ics" class="btn btn-default btn-sm">Save the date</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include_relative _content/couple.html %}

<div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/bg_events.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Courthouse</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>4:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Thursday 9</span>
                                    <span>October, 2025</span>
                                </div>
                                <p>
                                    For our special family member, the IRS, we
                                    decided to get the boring stuff out of the
                                    way this year. Only close family members. If
                                    the IRS doesn't know you from our tax
                                    returns, you're sadly not invited.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Wedding Party</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>All weekend!</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Friday 25 - Sunday 27</span>
                                    <span>July, 2026</span>
                                </div>
                                <p>
                                    Our actual wedding celebrations will be next
                                    year, in the romantic, or at least proper
                                    German, Leavenworth. There will be love,
                                    festivities and plenty of long words. No
                                    plans to invade Poland. Yet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include_relative _content/story.html %}

{% include_relative _content/rsvp.html %}
