<div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Photos</span>
                <h2>Our Memories</h2>
                <p>
                    We had a great time with you. Below are the pictures. Please
                    download the ones you like because this website won't be
                    online forever.
                </p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-gallery-list">
                    {% assign include_folder = '/gallery/' %}
                    {% for file in site.pages %}
                        {% if file.path != "gallery.html" %}
                            {% if file.dir contains include_folder %}
                                {% capture image %}/{{ file.path | replace: '.html', '.jpg' }}{% endcapture %}
                                {% assign counter = 0 %}
                                {% for f in site.static_files %}
                                    {% if f.path contains file.dir %}
                                        {% if f.name != 'index.jpg' %}
                                            {% assign counter = counter | plus: 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({{ image }}); ">
                                    <a href="{{ file.url }}">
                                        <div class="case-studies-summary">
                                            <span>{{ counter }} Photos '{{ image }}'</span>
                                            <h2>{{ file.title }}</h2>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
