<div id="fh5co-couple-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>We Love Each Other</span>
                <h2>Our Story</h2>
                <p>
                    If you're like us, you might wonder how we got here. Strap
                    in, it's a wild ride.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    {% assign stories = site.data.story %}
                    {% assign class = '' %}
                    {% for story in stories %}
                        <li class="{{ class }} animate-box">
                            <div class="timeline-badge" style="background-image:url({{ story.image }});"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">{{ story.title }}</h3>
                                    <span class="date">{{ story.date }}</span>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        {{ story.description }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% if class == '' %}
                            {% assign class = 'timeline-inverted' %}
                        {% else %}
                            {% assign class = '' %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
